[Unit]
Description=Run TRC Leaf Charger Watcher every 60 seconds

[Timer]
OnBootSec=30
OnUnitActiveSec=60
AccuracySec=10

[Install]
WantedBy=timers.target
